<%= form_tag(download_filedetails_path, :method => :get) do %>
<p>enter password for file</p>
<p><%= @filedetail.fdata.original_filename %></p>
<%= hidden_field_tag :id, @filedetail.id %>
<p><%= label_tag :Enter_password %></p>
<p><%= password_field_tag :pass %></p>
<p><%= submit_tag %></p>
<% end %>
